(tsj_strelnikova/.env
tsj_strelnikova/.env.local
tsj_strelnikova/.env.*
tsj_strelnikova/node_modules/
tsj_strelnikova/vendor/
tsj_strelnikova/composer.lock
tsj_strelnikova/*.log
tsj_strelnikova/logs/
tsj_strelnikova/cache/
tsj_strelnikova/tmp/
tsj_strelnikova/.DS_Store
tsj_strelnikova/Thumbs.db)